.welcome-section {
    padding: 6rem;
}

.title-text {
    font-size: 6rem;
    font-weight: 600;
    line-height: 4rem;
}

.subtitle-text {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: grey;  
    width: 70%;
}

.btn {
    border-radius: 80px;
    font-size: 1.1rem;
    padding: 8px 20px;
    font-weight: 500;
}

.nav-item {
    font-weight: 500;
    color: black;
}

.nav-btn {
    font-size: 0.9rem;
    padding: 5px 15px;
}