.welcome-section {
    padding: 6rem;
}

.title-text {
    font-size: 6rem;
    font-weight: 600;
    line-height: 4rem;
}

.subtitle-text {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: grey;  
}

.btn {
    border-radius: 80px;
    font-size: 1.1rem;
    padding: 8px 20px;
    font-weight: 500;
}

.nav-item {
    font-weight: 500;
    color: black;
}

.nav-btn {
    font-size: 0.9rem;
    padding: 5px 15px;
}

img {
    width: 350px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.card {
    font-size: 0.9rem;
    font-weight: 600;
}

/* handles responsivity */

/* max-width: small */
@media (max-width: 767.98px) {
    .sort-btn {
        display: none;
    }

    .filter-btn {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* max-width: medium */
@media (max-width: 991.98px) {

}

@media (max-width: 1511.99px) {
    .feed-btns-section {
        margin-top: 69px;

    }
    .welcome-section {
        display: none;
    }
}
